.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dashboard specific styles */
.dashboard {
  min-height: 100vh;
  background-color: black;
  color: white; /* Optional: to make the text readable */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px; /* Adjust this value as needed */
}

.wallet-section, .speedometer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px; /* Adjust this value as needed */
}

.wallet-container, .speedometer-container {
  flex: 0 1 45%; /* Adjust the width of the container */
  display: flex;
  justify-content: flex-start;
}

.wallet-content, .speedometer-content {
  flex: 0 1 45%; /* Adjust the width of the content */
}

@media (max-width: 768px) {
  .dashboard-content {
    flex-direction: column;
    align-items: center;
  }

  .wallet-section, .speedometer-section {
    flex-direction: column;
    align-items: center;
  }

  .wallet-container, .wallet-content, .speedometer-container, .speedometer-content {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    padding-right: 0; /* Remove padding on smaller screens */
  }
}
