body, html {
  margin: 0;
  height: 100%;
}

.dashboard {
  min-height: 100vh;
  background-color: black;
  color: white; /* Optional: to make the text readable */
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px; /* Adjust this value as needed */
}

.card-container {
  flex: 0 1 45%; /* Adjust the width of the PlanCard */
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .dashboard-content {
    flex-direction: column;
    align-items: center;
  }
  
  .card-container,
  .speedometer-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    padding-right: 0; /* Remove padding on smaller screens */
  }
}
