@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  background-color: #D8D8D8;
}


.wrapper {
    display: grid;
    grid-template-columns: auto 100px;
    height: 60px;
    border-radius: 10px;
    background-color: #1e1f20;
  }
  
  .text {
    border: none;
    outline: none;
    background: none;
    padding: 20px;
    color: white;
    font-size: 16px;
  }
  
  .btn {
    color: black;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #D8D8D8;
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: rgb(200, 253, 130);
  }