@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  background-color: #1f2937;
}

.wrapper {
    display: flex;
    grid-template-columns: 60px auto;
    min-height: 60px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #111827;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
  }