.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    opacity: 87%;
    background: transparent; /* Slightly transparent background */
    border-radius: 10px;
    margin-top: 2%;
    
  }
  .getstarted{
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    color: #fff;
    background-color: #3f6084;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5%;
  }  
  
  .about-us h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .about-us p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
  }
  