.Main {
  display: flex;
  gap: 10px;
  max-width: 2000px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 10px;
  justify-content: center;
}

.Column {
  color: white;
  width: 60%;
  display: flex;
  flex-direction: column; /* Add this to align items in a column */
}

.Title {
  padding: 20px;
  margin-bottom: 20px; /* Reduce the margin-bottom */
  border-radius: 10px;
  color: black;
  background-color: #D8D8D8;
  width: 100%;
  text-align: center;
}

.Content {
  height: auto; /* Change this to auto for better flexibility */
  overflow-y: auto;
  flex-grow: 1; /* Allow the content to grow and fill space */
  width: 100%;
}

.ChatHeroContainer {
  margin-bottom: 10px; /* Reduce margin to lessen the gap */
}

::-webkit-scrollbar {
  display: none;
}
