/* editableFields.module.css */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; /* Lower value ensures it's below the navbar */
  width: 80%;
  background-color: white; /* Ensure the background color is set */
}



