.container {
    position: relative;
  }
  
  .vantaContainer {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    z-index: 0; /* Ensure it stays behind the Navbar */
  }
  
  .vantaContainer > :global(.VantaBirds) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .Navbar {
    position: relative;
    z-index: 1; /* Ensure Navbar is above VantaBirds */
  }
  
  .AboutUs {
    position: relative;
    z-index: 2; /* Ensure AboutUs is below VantaBirds */
  }
  