.wallet-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.navbar {
  width: 100%; 
}

.main-content {
  flex: 1; 
  display: flex;
  flex-direction: column; 
}

.editable-fields {
  flex: 0 1 auto; 
  padding: 16px;
  box-sizing: border-box; 
}

.scroll-box-container-wrapper {
  flex: 1; 
  padding: 16px;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-navbar {
  width: 100%; 
}


@media (max-width: 768px) {
  .main-content {
    flex-direction: column; 
  }

  .editable-fields, .scroll-box-container-wrapper {
    flex: 1 1 100%; 
    padding: 8px; 
  }
}

@media (max-width: 480px) {
  .editable-fields, .scroll-box-container-wrapper {
    padding: 4px; 
  }
}

.scroll-box-container {
  width: 100%;
  max-width: 64rem; 
  margin: 0 auto;
  height: 20rem;
}
