.wallet-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.navbar {
  width: 100%; /* Full width */
}

.main-content {
  flex: 1; /* Takes up available space between navbar and bottom navbar */
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.editable-fields {
  flex: 0 1 auto; /* Adjust to fit content and not grow */
  padding: 16px;
  box-sizing: border-box; /* Include padding in width/height calculations */
}

.scroll-box-container-wrapper {
  flex: 1; /* Takes up remaining space */
  padding: 16px;
  box-sizing: border-box; /* Include padding in width/height calculations */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-navbar {
  width: 100%; /* Full width */
  /* Additional styles for bottom navbar */
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
  .main-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .editable-fields, .scroll-box-container-wrapper {
    flex: 1 1 100%; /* Full width on smaller screens */
    padding: 8px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .editable-fields, .scroll-box-container-wrapper {
    padding: 4px; /* Further adjust padding for very small screens */
  }
}

.scroll-box-container {
  width: 100%;
  max-width: 64rem; /* Tailwind's max-w-4xl */
  margin: 0 auto;
  height: 20rem; /* Tailwind's h-80 */
}
